<!DOCTYPE html>
<html>
  <head>
  </head>
    
  <body>
    
    <section class="layout">
      <div class="primary">
        <ul>
          <% artwork.forEach(art => { %>
            <li><%= art %></li>
          <% }) %>
        </ul>
      </div>
      <aside class="secondary">
        
      </aside>
    </section>
    
  </body>
</html>